.domino-details {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.domino {
    display: flex;
    align-items: center;
    max-width: fit-content;
    transition-property: all;
    transition-timing-function: ease-out;
    height: 250px;
}

.domino-faces {

    border: 1px solid #000000;
    border-radius: 4px;
}

.domino-face-container {
    cursor: pointer;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    padding: 7px;
}

.domino-face-container+.domino-face-container {
    border-top: 1px solid #000000;
}

.domino-face-container:hover {
    background: #f1f1f1;
}

.domino-faces-lock .domino-face-container {
    cursor: not-allowed;
}

.domino-face {
    max-width: 100%;
    max-height: 100%;
}

.domino-setting {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    align-items: center;
}

.label-setting {
    width: 60px;
}

.field-setting {
    width: calc(100% - 65px);
}