<div class="domino-details">
    <div class="domino"
         ng-style="$ctrl.getDominoRotation()">
        <div class="domino-faces">
            <div class="domino-face-container"
                 ng-style="$ctrl.getFaceSizeStyle()"
                 ng-click="$ctrl.onSelectPart($ctrl.types.top)">
                <img class="domino-face"
                     ng-src="{{$ctrl.getImageUrl($ctrl.dominoModel.top)}}"
                     ng-if="$ctrl.dominoModel.top" />
            </div>
            <div class="domino-face-container"
                 ng-style="$ctrl.getFaceSizeStyle()"
                 ng-click="$ctrl.onSelectPart($ctrl.types.bottom)">
                <img class="domino-face"
                     ng-if="$ctrl.dominoModel.bottom"
                     ng-src="{{$ctrl.getImageUrl($ctrl.dominoModel.bottom)}}" />
            </div>
        </div>
    </div>
    <div class="domino-setting">
        <label class="label-setting"
               for="size">Size</label>
        <input class="custom-range field-setting"
               type="range"
               id="size"
               name="size"
               ng-model="$ctrl.dominoModel.size"
               min="{{$ctrl.size.min}}"
               max="{{$ctrl.size.max}}" />
    </div>
    <div class="domino-setting">
        <label class="label-setting"
               for="speed">Speed</label>
        <input class="custom-range field-setting"
               type="range"
               id="speed"
               name="speed"
               ng-model="$ctrl.dominoModel.speed"
               min="{{$ctrl.speed.min}}"
               max="{{$ctrl.speed.max}}" />
    </div>
</div>