<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <button type="button"
                            class="btn btn-outline-dark"
                            ng-click="onRotateDomino(rotates.toRight)">&#8624;</button>
                    <button type="button"
                            class="btn btn-dark"
                            ng-click="onNewDomino()">New</button>
                    <button type="button"
                            class="btn btn-outline-dark"
                            ng-click="onRotateDomino(rotates.toRight)">&#8625;</button>
                </div>
                <div class="card-body">
                    <div class="domino-container">
                        <div class="domino-preferences">
                            <domino-details></domino-details>
                        </div>
                        <div class="available-faces-container">
                            <div class="domino-faces"
                                 ng-class="getDisableFacesClass()">
                                <div class="domino-face-container"
                                     ng-repeat="face in faceCollection"
                                     ng-click="onSelectAvailableFace(face)">
                                    <img ng-src="{{getImageUrl(face)}}"
                                         class="domino-face" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>