.domino-container {
    display: flex;
}

.domino-preferences {
    width: calc(100% - 100px);
}

.available-faces-container {
    width: fit-content;
    box-sizing: border-box;
    padding: 20px;
    justify-content: center;
}

.domino-preferences+.available-faces-container {
    border-left: 1px solid #afafaf;
}

.domino-faces {
    border: 1px solid #000000;
    border-radius: 4px;
}

.domino-faces-lock {
    opacity: 0.5;
}

.domino-face-container {
    cursor: pointer;
    box-sizing: border-box;
    height: 60px;
    width: 60px;
    padding: 7px;
}

.domino-face-container+.domino-face-container {
    border-top: 1px solid #000000;
}

.domino-face-container:hover {
    background: #f1f1f1;
}

.domino-faces-lock .domino-face-container {
    cursor: not-allowed;
}

.domino-face {
    max-width: 100%;
    max-height: 100%;
}