<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <button type="button"
                            class="btn btn-outline-dark">&#8624;</button>
                    <button type="button"
                            class="btn btn-dark">New</button>
                    <button type="button"
                            class="btn btn-outline-dark">&#8625;</button>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="main-domino">
                                <button type="button"
                                        class="btn btn-outline-dark" ng-click="onSelectPart('top')">&#8625;</button>
                                <div class="half-domino"
                                     ng-click="onSelectPart('top')"></div>
                                <div class="half-domino"
                                     ng-click="onSelectPart('bottom')"></div>
                                {{dominoModel.selectedFace}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="domino-face-container"
                                 ng-repeat="face in faceCollection">
                                {{value}}
                                <img src="{{getImageUrl(face)}}"
                                     class="domino-face">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>